html {
  background-image: url(https://www.elplural.com/uploads/s1/97/28/whiplash.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.key {
  align-items: center;
  border: 4px solid black;
  padding: 1rem 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  color: goldenrod;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.07s;
  width: 70px;
  text-align: center;
}

kbd {
  font-size: 1.5rem;
  color: white;
}

.sound {
  font-size: 0.7rem;
}

.playing {
  transform: scale(1.1);
  border-color: gold;
}
